body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

#sidebar {
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

#sidebar nav ul {
    list-style: none;
    padding: 0;
}

#sidebar nav ul li {
    margin: 20px 0;
}

#sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

#sidebar nav ul li a:hover {
    text-decoration: underline;
}

#main-content {
    margin-left: 220px; /* Make space for the sidebar */
}

.page {
    height: 100vh; /* Full viewport height for each section */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.page:nth-child(even) {
    background-color: #f0f0f0; /* Alternate background color */
}

.page h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.page p {
    font-size: 1.5rem;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
}

/* Styling for the contact button in the middle of the home page */
#home .contact-button {
    display: inline-block;
    padding: 20px 30px; /* Adjust as needed */
    border-radius: 50px; /* Makes it circular */
    background-color: #ffffff; /* Button background color */
    color: #000000; /* Button text color */
    font-size: 1.2rem; /* Button text size */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px; /* Adjust button position */
}

#home .contact-button:hover {
    background-color: #46bb94; /* Button background color on hover */
    transform: scale(1.1); /* Scale effect on hover */
}

/* Skill progress bars */
.skill {
    margin: 20px 0;
}

.progress {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 20px;
    background-color: #46bb94;
}
